<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/images/favicon/favicon.svg" type="image/x-icon">
    <title>Invite | Paint Chess</title>
</head>
<body>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        // Immediately connect the client-side sockets and tell 
        // the server to join with the game ID given through templating.
        const socket = io();
        socket.emit("join-game-request", { gameId: "{{gameId}}" });

        // Move to the game page once the game is found.
        socket.on("found-game", ({ gameId }) => {
            window.location = `/game/${gameId}`;
        });
    </script>
</body>
</html>