<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/images/favicon/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/nav.css">
    <link rel="stylesheet" href="/public/styles/profile.css">
    <title>User Profile | Paint Chess</title>
</head>
<body>
    <nav id="nav" class="nav">
        <!-- Generated using JavaScript. -->
    </nav>

    <div class="profile-card">
        <div class="heading-section">
            <h1>{{ displayname }}'s Profile</h1>
            <p>{{ username }} ({{elo}})</p>
        </div>
        <div class="description-section">
            {{ description }}
        </div>
    </div>

    <!-- For filling in the nav bar. -->
    <script src="/public/scripts/navbar.js"></script>

    <script>
        window.addEventListener("load", async () => {
            await initNav();
        });
    </script>
</body>
</html>