* {
    box-sizing: border-box;
}

.board {
    display: grid;

    max-width: 100%;
    aspect-ratio: 1;

    grid-template-rows: repeat(8, minmax(0, 1fr));
    grid-template-columns: repeat(8, minmax(0, 1fr));
    background-color: black;
    margin: 0;
    cursor: pointer;
}

.slot {
    position: relative;
}

.slot.selected {
    border: 4px solid green;
}

.slot.lastChanged::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgba(255, 255, 1, 0.5);
}

.slot.isLanding::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgba(255, 255, 1, 0.5);
}

.slot.checkedKing::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgba(255, 1, 1, 0.5);
}

.promotion-popup-bg-overlay {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.575);
    width: 100%;
    height: 100%;
    /*
        Needs to be at least in front of the highlights 
        used for showing slot information.
    */
    z-index: 2;
}

.promotion-popup {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, 0%);
    background-color: black;
    /*
        Needs to be at least in front of the 
        promotion popup background overlay.
    */
    z-index: 3;
}

.promotion-option {
    width: 8vw;
    aspect-ratio: 1;
    margin: auto;
    --color-light: white;
    --color-dark: black;
    background-color: var(--color-dark);
}

.promotion-option:hover {
    background-color: var(--color-light);
}

@media screen and (orientation: portrait) {
    .promotion-popup {
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .promotion-option {
        width: 20vw;
    }
}
