* {
    box-sizing: border-box;
}

.board {
    display: grid;
    width: min-content;
    grid-template-columns: repeat(8, 1fr);
    background-color: black;
    margin: 0;
    cursor: pointer;
}

.slot {
    width: 70px;
    height: 70px;
}

.slot.selected {
    margin: -4px;
    border: 2px solid green;
}

.piece {
    display: block;
}
