
body {
    color: rgb(202, 202, 202);
}

.center-container {
    background-color: rgb(94, 94, 94);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-container h1 {
    margin: 0;
}

.game-settings {
    background-color: rgb(77, 77, 77);
    margin-bottom: 40px;
    height: 25vh;
}

.game-settings button {
    color: white;
    background-color: rgb(34, 34, 34);
    border: none;
    padding: 10px;
}

.game-settings button:hover {
    background-color: rgb(61, 61, 61);
}

.game-settings #queue-btn {
    margin-top: 20px;
}

#copy-section.hidden {
    display: none;
}

#copy-section {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: center;
    gap: 1em;
}

#copy-section button {
    width: 10em;
}

.qrcode-background-overlay {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.486);
    width: 100%;
    height: 100%;
}

.qrcode-popup {
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: black;
}

.qrcode-popup button {
    color: white;
    background-color: black;
    font-size: 1.6em;
    border: none;
    outline: none;
}

.qrcode-popup img {
    width: 30vw;
    border: black 5px solid;
}

#game-queue > div {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

#game-queue > div:hover {
    background-color: rgb(70, 70, 70);
}

#game-queue > div span {
    width: 20%;
    text-align: center;
}

#game-queue > div .queue-displayname {
    flex-grow: 1;
}

@media screen and (orientation: portrait) {
    .center-container {
        width: 90%;
        height: 100%;
    }

    /* .qrcode-popup {
        width: 80%;
    } */

    .qrcode-popup img {
        width: 80vw;
    }

    .game-settings {
        height: 30vh;
    }
}