* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(136, 136, 136);
}

.outermost-container {
    display: flex;
    flex-direction: column;
}

.game-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    /* background-color: gray; */
}

.left-area {
    display: flex;
    flex-direction: column;
    width: 20vw;
    /* width: 20vw; */
}

#game-info {
    height: 50%;
    background-color: rgb(75, 75, 75);
    color: white;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

#chat-area {
    /* width: 20vw; */
    height: 50%;
    background-color: rgb(92, 92, 92);
}

#chat-history {
    height: 90%;
    overflow-y: scroll;
}

#chat-history p {
    color: white;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

#chat-input {
    width: 100%;
    height: 10%;
}

#chat-input:focus {
    outline: none;
}

.right-area {
    display: flex;
    flex-direction: column;
    width: 20vw;
    /* background-color: rgb(112, 112, 112); */
}

.right-area * {
    /* 
        This is to fix a weird bug, where parts of the right area 
        are selected when trying to move pieces on the board.
    */
    user-select: none;
}

.time-display {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
    font-size: 60px;
    height: 15%;
    background-color: rgb(85, 85, 85);
}

#right-area-center {
    background-color: rgb(90, 62, 62);
    height: 80%;
}

#btn-resign {
    width: 100%;
    font-size: 30px;
    cursor: pointer;
}

.nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    padding: 0;
}

.nav a {
    display: block;
    height: max-content;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    --variant-color: white;
    color: var(--variant-color);
}

.nav a:hover {
    text-shadow: 
        0 0 30px var(--variant-color), 
        0 0 40px var(--variant-color), 
        0 0 50px var(--variant-color), 
        0 0 60px var(--variant-color), 
        0 0 70px var(--variant-color),
        0 0 80px var(--variant-color);
}

.nav a:nth-child(1) {
    --variant-color: red;
}

.nav a:nth-child(2) {
    --variant-color: orange;
}

.nav a:nth-child(3) {
    --variant-color: yellow;
}

.nav a:nth-child(4) {
    --variant-color: lime;
}

.right-area {
    display: flex;
    flex-direction: column;
}