* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(136, 136, 136);
}

.outermost-container {
    display: flex;
    flex-direction: column;
}

.game-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
}

.left-area {
    display: flex;
    flex-direction: column;
    width: 20vw;

    /* Stops the game area from changing height when loading in. */
    min-height: 560px;
}

#game-info {
    height: 50%;
    background-color: rgb(75, 75, 75);
    color: white;
}

#game-info a {
    color: white;
    text-decoration: none;
}

#game-info a:hover {
    text-decoration: underline;
}

#game-info .dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

#chat-area {
    height: 50%;
    background-color: rgb(92, 92, 92);
}

#chat-history {
    height: 90%;
    overflow-y: scroll;
}

#chat-history p {
    color: white;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

#chat-input {
    width: 100%;
    height: 10%;
}

#chat-input:focus {
    outline: none;
}

.game-area {
    width: 600px;
}

.right-area {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.right-area * {
    /* 
        This is to fix a weird bug, where parts of the right area 
        are selected when trying to move pieces on the board.
    */
    user-select: none;
}

.time-display {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: fit-content;
    font-size: 60px;
    height: 15%;
    background-color: rgb(85, 85, 85);
}

#right-area-center {
    background-color: rgb(90, 62, 62);
    height: 80%;
}

#btn-resign {
    width: 100%;
    font-size: 30px;
    cursor: pointer;
}

.right-area {
    display: flex;
    flex-direction: column;
}

#game-result {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

#check-alert {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

@media screen and (orientation: portrait) {
    .game-content {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .left-area {
        width: 100%;
    }

    .game-area {
        width: 100%;
    }

    .right-area {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #chat-area {
        padding-top: 20px;
        height: 20vh;
    }

    #chat-input {
        width: 100%;
        height: 30%;
    }
}