
.how-to-play-content {
    margin: auto;
    width: 50%;
    color: rgb(207, 207, 207);
    background-color: rgb(83, 83, 83);

    --variant-color: white;
}

.how-to-play-content>:nth-child(2) {
    --variant-color: red;
}

.how-to-play-content>:nth-child(3) {
    --variant-color: rgb(255, 166, 0);
}

.how-to-play-content>:nth-child(4) {
    --variant-color: rgb(238, 255, 0);
}

.how-to-play-content>:nth-child(5) {
    --variant-color: rgb(43, 255, 0);
}

.how-to-play-content>:nth-child(6) {
    --variant-color: rgb(0, 238, 255);
}

.how-to-play-content div {
    padding: 1em;
}

.how-to-play-content div::selection {
    color: black;
    background-color: var(--variant-color);
}

.how-to-play-content h1 {
    text-align: center;
    margin: 0;
    font-size: 3em;
}

.how-to-play-content div h2 {
    width: fit-content;
    margin: 0;
}

.how-to-play-content div hr {
    width: 100%;
    border: 3px solid var(--variant-color);
    margin: 0;
    margin-bottom: 1em;
}

.how-to-play-content div a {
    color: var(--variant-color);
}

.how-to-play-content div p {
    margin: 0;
    padding: 0;
}

.how-to-play-content img {
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}

@media screen and (orientation: portrait) {
    .how-to-play-content {
        width: 90%;
    }

    .how-to-play-content img {
        width: 90%;
    }
}
