* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgb(136, 136, 136);
}

.center-container {
    margin: auto;
    background-color: rgb(100, 100, 100);
    width: 50%;
    height: 40vw;
    text-align: center;
}

.center-container h1 {
    font-size: 60px;
    margin: auto;
    background-color: rgb(53, 53, 53);
}

.glow {
    /* This is changed using JavaScript. */
    --variant-color: white;
    color: var(--variant-color);
}

.glow:hover {
    text-shadow: 
        0 0 30px var(--variant-color), 
        0 0 40px var(--variant-color), 
        0 0 50px var(--variant-color);
}

.btn-title {
    width: 60%;
    margin-top: 5%;
    color: white;
    background-color: rgb(37, 37, 37);
    font-size: 50px;
    border: none;
}

.btn-title:hover {
    background-color: rgb(61, 61, 61);
}

.login-section {
    background-color: rgb(172, 172, 172);
    padding: 20px;
}

.login-section h2 {
    margin: 0;
    margin-bottom: 20px;
}

.login-section label {
    display: block;
    margin-bottom: 0.5em;
}

.btn-login {
    color: white;
    font-size: 20px;
    background-color: rgb(37, 37, 37);
}

.btn-login:hover {
    background-color: rgb(61, 61, 61);
}

@media screen and (orientation: portrait) {
    .center-container {
        width: 90%;
        height: 100vw;
    }
}